body {
  padding: 0;
  margin: 20px auto 0 auto;
  background-size: cover;
  background-repeat: no-repeat;

}



body #app {
  margin: auto;
  max-width: 1200px;

}


/* start of searchbar.js */

.top {
  display: flex;
}

.top div {
  width: 50%;
}

.logo {

}

.logo img {
  width: 100px;
}



.search input {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  opacity: 0.9;
  background-color: black;
  color: #01d277;
  font-size: x-large;
}

/* end of searchbar.js */

/* start of movieposter */


.movie-poster {
  display: flex;
  margin-top: 20px;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
              0 9px 46px 8px rgba(0, 0, 0, 0.12),
              0 11px 15px -7px rgba(0, 0, 0, 0.4);
  border-radius: 25px;

}

.movie-poster .poster {
  width: 100%;
  margin-bottom: -5px;
}

.movie-poster .poster img {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.description {
  background-color: black;
  padding-left: 20px;
  opacity: 0.9;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.title {
  margin-top: 20px;
}

.title h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.title h2 {
  margin-top: 0px;
}

.first-row {
  display: flex;
}

.first-row div {
  width: 50%;
}

.second-row {
  display: flex;
}

.second-row div {
  width: 50%;
}
